@model Product
<h2 class="mb-5">
ایجاد کالا
</h2>

<form asp-controller="Products" asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="ProductName"></label>
        <input class="form-control" asp-for="ProductName"/>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Price"></label>
        <input class="form-control" asp-for="Price"/>
    </div>
    <div class="mb-3">
        <label for="ProductCount" class="form-label">موجودی در انبار</label>
        <input class="form-control" asp-for="ProductCount"/>
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-success" value="ثبت">
        <a class="btn btn-light"
           asp-controller="Products" asp-action="Index" >بازگشت به لیست</a>
    </div>
</form>